<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/myblog/static/dist/css/bootstrap.min.css">
        <title>조용원의 웹사이트</title>            
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark border-bottom ">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="">시세조회</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">매물검색</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">게시판</a>
                  </li>
                </ul>
                <div class="text-end">
                    <button type="button" onclick="location.href=''" class="btn btn-sm btn-outline-light me-2" >로그아웃</button>
                </div>
              </div>
            </div>
          </nav>
        
        <div class='container'>
            <h1>첫번째 크기 헤드라인</h1>
            <h2>두번째 크기 헤드라인</h2>
            <h3>세번째 크기 헤드라인</h3>
            <h4>네번째 크기 헤드라인</h4>
            <h5>다섯번째 크기 헤드라인</h5>
            <a href="https://google.com">Go to google</a>
            <hr/>
        </div>    
        <script src="/myblog/static/dist/js/jquery-3.6.0.min.js"></script>
        <script src="/myblog/static/dist/css/bootstrap.min.css"></script>
        <script src="/myblog/static/dist/js/bootstrap.bundle.min.js"></script>    
    </body>
</html>